.statTitle {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.color-total { color: #fff; }
  &.color-critical { color: #ff4d4f; }
  &.color-high { color: #ff7a45; }
  &.color-medium { color: #faad14; }
  &.color-low { color: #52c41a; }
  &.color-info { color: #1690ff; }
}

.statIcon {
  font-size: 24px;
}